@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
:root{
    --violet:#4e1d51;
    --dark:#222222;
    --light:#ffffff;
    --light-violet:#f8a5c2;
    --light-green:#55efc4;
    --green:#00b894;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Catamaran', sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    overflow-x: hidden; 
}
.container{
    width: 100%;
    max-width: 1360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
header{
    width: 100%;
    height: 80px;
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.3rem;
}
.burger{
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
}
nav{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; 
}
nav.active{
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 30%;
display: none;
flex-direction: column;
justify-content: space-evenly;
background-color: var(--light);
z-index: 5;
color: var(--light);
transform: translateY(80px);
animation:both  0.7s;
animation-name: flay;
}
@keyframes flay{
    0%{
        
        width: 0%;
    }
    100%{
        
        width: 50%;
    }
}
 a{
    text-decoration: none;
    color: var(--violet);
    font-size: 1.3rem;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart{
    position: relative;
    cursor: pointer;
    margin:0 3rem;
    font-size: 2rem;
}
.cart span{
    position: absolute;
    top: -5px;
    left: -15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--violet);
    color: var(--light);
    font-size: 1.2rem;  
}
.grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding:2rem;
}
.item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-violet);
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 1rem;
    
}
.title{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    color: var(--violet);
}
.item img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.price{
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    color: var(--violet);
}
.description{
    font-size: 1rem;
    font-style: italic;
    color: var(--violet);
}
.product-info-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-violet);
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 1rem;   
    position: relative;
}

.product-info-buy{
    position: absolute;
    top:10%;
    right:10%;
    font-size: 1.5rem;
    color: var(--light);
    background-color: var(--light-green);
    border-radius: 4px;
    border: 1px solid var(--light-green);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 1rem;   
    cursor: pointer;
}
.product-info-buy:hover{
    background-color: var(--green);
}
.product-info-close{
    position: absolute;
    top:10%;
    left:10%;
    font-size: 1.5rem;
    color: var(--light);
    background-color: var(--light);
    border-radius: 4px;
    border: 1px solid var(--light);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 1rem;   
    cursor: pointer;
}
.product-info-close:hover{
    background-color: var(--violet);
}
.product-info-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-info-quantity span{
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
.product-info-quantity input{
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 1rem;
    margin: 1rem 0;   
    cursor: pointer;
}


.product-info-title{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    color: var(--violet);
}
.product-info-price{
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    color: var(--violet);
}
.product-info-description{
    font-size: 1rem;
    font-style: italic;
    color: var(--violet);
}
.product-img img{
    width: 100%;
    object-fit: cover;
}

.payment-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-violet);
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 1rem;   
    position: relative;
}
.payment-form-title{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    color: var(--violet);
}
.payment-form-price{
   margin-top: 3rem;
}
.payment-form-price span,.payment-form-quantity span,.payment-form-total span{
    font-size: 1.5rem;
    margin-left: 0.5rem;
   
}

.payment-form-image{  
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-violet);
    border-radius: 4px;
    padding: 1rem;   
    position: relative;
}
.payment-form-image img{
    height:100%;
    object-fit: cover;
    cursor: pointer;
}
.cart-container{
    margin-top: 100px;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    background-color: var(--light);
    display: none;
    padding: 1rem;
    flex-direction: column;
    overflow-y: scroll;
}
.active{
display: flex;
}

.commodity{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--light);
    border-radius: 4px;
    padding: 1rem;   
    position: relative;
}
.commodity-image{
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}
.commodity-image img{
    height: 100%;
    object-fit: cover;
}
.commodity-pay{
    font-size: 1.2rem;
    color: var(--dark);
    background-color: var(--light-green);
    border-radius: 4px;
    border: 1px solid var(--green);
    padding:0.5rem 3rem; 
    margin-top: 0.5rem;  
    cursor: pointer;
}
.together-pay{
    font-size: 1.2rem;
    color: var(--dark);
    margin-top: 0.5rem;  
}
@media screen and (max-width: 768px){
    html{
        font-size: 14px;
    }
    .logo{
        width: 80%;
    }
    .client{
        width: 20%;
    }
    .burger{
        width: 20%;
        display: flex;
    }
    nav{
        transform: translateX(-100%);
        display: none;
    }
    nav.active{
        display: flex;
    }  
    .cart{
        margin: 0;
    }  
}
@media screen and (max-width: 600px){
    .cart-container{
        width: 100%;
    }
    .product-info-close{
        padding: 0%;
        top: 12%;
        left: 5%;
    }
    .product-info-buy{
        padding: 0 0.3rem;
        top: 12%;
        right: 7%;
    }
    .product-img img{
        width: 80%;
    }    
    .payment-form{
        justify-content: space-between;
    }
    .payment-form-image{
        height: 100%;
        width: 100%;
    }
    .payment-form-image img {
        width: 80%;
       
    }
}